.get1 {
  margin: -16px;
  border: 100px;
  background: rgb(1, 1, 53);
  padding: 65px 35px 22px;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  background-size: contain;
  border-color: gray;
  margin-bottom: 100px;
}
.get1 p {
  color: white;
  font-size: 42px;
  margin-left: 10%;
}

.form1 {
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
::placeholder{
  color:black
}
.form1 input {
  margin-bottom: 10%;
  font-size: 25px;
  color: black;
  padding: 5px;
  width:94%;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 2px;
  outline-color: gray ;
}

::placeholder1 {
  color: black;
  font-size: 30px;
}

.next1 {
  background-color: rgb(2, 95, 2);
  color: honeydew;
  font-size: 140%;
  padding: 2% 4% 2% 4%;
  border: none;
  border-radius: 20px;
  margin-left: 63%;
  /* margin-top: 6%; */
}

.makeSure1 {
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

@media screen and (min-width:500px)
{
    .next1{
        align-items: center;
        margin-left: 39%;
        
    }
}

input[type=text]:focus, select:focus {
  transition: 700ms;
  border-radius: 5%;
  outline: none;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px 3px 3px rgb(69, 69, 70);
}

.next1:focus, select:focus {
  transition: 200ms;
  outline: none;
  background-color: rgb(3, 133, 3);
  box-shadow: 2px 2px 3px 3px rgb(69, 69, 70);
}