.landing-container {
  overflow: hidden;
}
.top-circles {
  display: flex;
  height: 70vh;
}

.helpin-hands-green-circle {
  --size: 120vh;
  height: var(--size);
  min-width: var(--size);
  max-width: var(--size);

  width: var(--size);
  border-radius: 50%;
  background: #13812d;
  color: #fff0f2;

  margin-left: calc(100vw / 2 - 120vh);
  margin-top: calc(100vh / 1.2 - 120vh);
  display: flex;
  flex-basis: 120vw;
  z-index: 10;
}

.helpin-hands-green-circle p {
  margin: auto 4% auto auto;
  font-size: 35px;
  font-weight: 550;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
}
.join-us {
  width: 40%;
  margin-left: 10%;
  color: #ad33ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.join-us p {
  margin-top: auto;

  font-size: 35px;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
}

@media only screen and (min-width: 578px) {
  .join-us {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1012px) {
  .join-us {
    margin-left: 25%;
  }
}
.world-needs-your-help {
  --size: 120vh;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: #dc143c;
  color: blue;
  display: flex;
  margin-right: -100%;
  margin-left: -20vh;

  margin-top: calc(100vh / 1.2 - var(--size));
}
.world-needs-your-help p {
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #ffffff;
  font-weight: 550;
  font-size: 36px;
  margin-top: auto;
  margin-bottom: 20vh;
  margin-left: 24%;
}

.btn-get-started {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 600px;
  height: 62px;
  margin-bottom: 45px;
  margin-left: 23%;
  background-color: #470138;
  border-radius: 12px;

  width: 50%;
  height: 47px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.circleArrow {
  width: 55px;
  height: 55px;
  overflow: visible;
  border-radius: 50%;
  border: 2px solid #ad33ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleArrow [data-icon="bi:chevron-right"] {
  color: #ad33ff;
  font-size: 1.4rem;
}
