.c-landing {
  background: gray;
  height:100vh;
}

.circle1{
  width:90%;
  border-radius:50%;
  background:white;
  color:#ad33ff;
  position: fixed;
  top: 35%;
  left: -20%;
  text-align: center;
  display: flex;        
  
}
.circle1:after{
  content:'';
  padding-bottom:100%;
  display:block;
}
.circle1 p{
  margin-top: auto;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
}
.circle2{
  width:207%;
  border-radius:50%;
  background:#DC143C;
  color:blue;
  position: fixed;
  right: -135%;
  top: -20%;
  display: flex;
}
.circle2:after{
  content:'';
  padding-bottom:100%;
  display:block;
}
.circle2 p{
  margin-top: 49%;
  margin-bottom: auto;
  margin-left: 16%;
  margin-right: 68%;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #ffffff;
  font-weight: 550;
  font-size: 36px;
}
.circle3{
  width:100%;
  border-radius:50%;
  background:#13812d;
  color:#fff0f2;
  position: fixed;
  left: -35%;
  top: -7%;
  display: flex;
}
.circle3:after{
  content:'';
  padding-bottom:100%;
  display:block;
}
.circle3 p{
 margin-top: 43%;
 margin-bottom: auto;
 margin-left: 45%;
 margin-right: auto;
 font-size: 35px;
 font-weight: 550;
font-family: "Inter-SemiBold", "Inter", sans-serif;
}
.btn-get-started{
  position: absolute;
  text-align: center;   
bottom: 0;
  width: 600px;
  height: 62px;
  margin-bottom: 45px;
  margin-left: 23%;
  background-color: #470138;
  border-radius: 12px;

  width: 50%;
  height: 47px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.circleArrow{
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  overflow: visible;
  border-radius: 50%;
  border: 2px solid #AD33FF;
  position: fixed;
  margin-top: 145%;
  margin-left: 18%;
}

.arrow {
  border: 2px solid #AD33FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  text-align: center;
  margin-left: 25%;
  margin-top: 30%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 18px;
  height: 18px;
}
