body{

    background-color: #ffffff;
    
    
    };
    label.filebutton {
        width:120px;
        height:40px;
        overflow:hidden;
        position:relative;
        background-color:#ccc;
    }
    
    label span input {
        z-index: 999;
        line-height: 0;
        font-size: 50px;
        position: absolute;
        top: -2px;
        left: -700px;
        opacity: 0;
        filter: alpha(opacity = 0);
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
        _cursor: hand;
        margin: 0;
        padding:0;
    }
    .needy_address{
        width: 100%;
        height: 50px;   
        border-radius: 7px;
        background-color:#E6E6E6;
        color: #333333;
        border: 0px;
        padding-left: 10px;
    }
    .tag_Unclicked{
        background-color:#C6C4C3;
        border-radius: 30px;
        margin: 5px;   
        border: none;
        }
    .tag_clicked{
            background-color: #9E5200;
            color: #ffff;
    }
    
    #description{
        border-radius: 7px; 
        padding: 15px; 
        background-color: #E6E6E6;
         width: 100%;
         margin-bottom: 30px;
    }
    
    .navtitle{
        margin-left:1%;
        
    }
    .maintitle{
        margin-left: 2.5%;
    }
    
    .title{
    width: auto;
    height: auto;
    overflow: visible;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 500;
    font-family: "Inter-Medium", "Inter", sans-serif;
    font-size: 24px;
    color: #c60649;
    }
    #upload_frame{
        width: 70px;
        height: 70px;
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        overflow: visible;
        border-radius: 11px;
        margin: 5px;
    }
    #upload_image{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    }
    #tags_selected{
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;
        padding:15px 15px;
    }
    #donebutton{ 
     width: auto;
     height: auto;
     margin: auto;
    }
    
    #postbtn{
        width: 100px;
        margin: auto;
    
    
    }
    
    
    .reqpost{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    
    #notice{
        color: red;
    }
    
    @media screen and (min-width:575px){
    
        .reqpost{
            width: 90%;
            margin: auto;
        align-items: center;
         padding: 20px;
        background-color: #ffffff;
        }
    
    }
    
    @media screen and (min-width:767px){
      
     
        
    
     .navitems{
         margin-left: 70%;
     }
     
        .reqpost{
            width: 70%;
            margin: auto;
            border-radius: 10px;
        border:#333333 solid 2px;
        align-items: center;
         padding: 20px;
        background-color: #ffffff;
            margin-bottom: 5%;
            padding: 20px;
        }
        #upload_frame{
            width: 100px;
            height: 100px;
            box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            overflow: visible;
            border-radius: 11px;
            margin: 10px;
        }
        #upload_image{
            width: 80px;
            height: 80px;
            margin: 10px 10px;
            }
    
            .postbtn{
                margin: auto;
               
            }
             
          
        }
    
    