.arrow {
  margin-top: 17px;
  margin-left: 17px;
  width: 10%;
}
.head1 {
  width: auto;
  height: auto;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter-Medium", "Inter", sans-serif;
  color: #533e3e;
  margin-left: 17px;
}

.postersList {
  position: relative;
  padding-top: 5px;
  width: 95%;
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffff;
  border-radius: 17px;
  margin-left: 9px;
  z-index: 2;
}
.horizontalLine {
  margin: 0 auto;
  height: 4px;
  width: 14%;
  background-color: gray;
  border-radius: 20px;
  margin-bottom: 10px;
}
.para1,
.para2 {
  width: auto;
  height: 35px;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  font-family: "Inter-Medium", "Inter", sans-serif;
  font-size: 23px;
  color: #000000;
}
.cont2text2 {
  width: 250;
  height: 5px;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #999999;
  text-align: left;
  padding-left: 0px;
}
.line1 {
  width: auto;
  height: 80px;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  font-family: "Inter-Medium", "Inter", sans-serif;
  font-size: 24px;
  color: #000000;
}
.name {
  /* background-color: rgb(212, 129, 129); */
  float: right;
}
.nameImg {
  /* background-color: gray; */
  width: 25%;
  padding-top: 2px;
  margin-left: 7px;
}
.cont2text1 {
  margin-top: 2px;
  width: 215px;
  height: 5px;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  font-size: 20px;
  color: #82bce4;
  padding: 0px 0px 0px 0px;
  text-align: left;
}
.userImg1 {
  width: 25%;
  margin-left: 2px;
  float: left;
}
@media only screen and (max-width: 280px) {
  .cont2text1 {
    font-size: 15px;
  }
  .cont2text2 {
    font-size: 12px;
  }
}
