.get {
    margin: -8px;
    border: 100px;
    background: rgb(1, 1, 53);
    padding: 40px 20px 1px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    border-color: gray;
    margin-bottom: 100px;
}
.get p{
    color: white;
    font-size: 42px;
}

.form {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.form input {
    border-radius: 5px;
    margin-bottom: 10%;
    font-size: 25px;
    color: black;
    padding: 5px;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 4px;
}

::placeholder {
    color: black;
    font-size: 30px;
}

.next {
    background-color: green;
    color: honeydew;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    border-radius: 20px;
    margin-left: 255px;
}

.makeSure {
    margin-top: 250px;
    margin-left: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}