<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home2</title>
    <link rel="stylesheet" href="./home2.css" />
  </head>
  <body>
    <h1>Helping Hands</h1>
    <div class="container1">
      <div id="right">
        <p>
          <img
            src="./request-message.png"
            alt=""
            height="100px"
            width="100px"
          />
        </p>
        <p>Request for needy</p>
      </div>
      <div id="left">
        <p><img src="./map.png" alt="" height="100px" width="100px" /></p>
        <p id="t1">Find needy near me</p>
      </div>
    </div>
    

    <h2>Account</h2>

     <div class="container2">
        <div class="line1">
            <div id="name">
                <p id="cont2text">Om more</p>
                <p id="cont2text2">9/11 posts 14 helps</p>
              </div>
              <div id="nameImg">
                <p><img src="./user.png" alt="" height="50px" width="50px" /></p>
              </div>
        </div>
        <div class="line2">
            <div id="email">
                <p id="cont2text">Email</p>
                <p id="cont2text2">ommore501@gmail.com</p>
              </div>
              <div id="emailImg">
                <p><img src="./email (1).png" alt="" height="50px" width="50px" /></p>
              </div>
        </div>
        <div class="line3">
            <div id="noti">
                <p id="cont2text">Notification</p>
                <p id="cont2text2">Notifications are on</p>
              </div>
              <div id="notiImg">
                <p>
                  <img src="./notification (1).png" alt="" height="50px" width="50px" />
                </p>
              </div>
        </div>

    </div> 

  </body>
</html>
