@media screen and (max-width:575px){
    body{
        margin: 0px;
    }
}
.poster_info{
    background-color: #D1EAFF;
    padding: 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post_info{
    margin-top: 30px;
}
.username{
    text-align:start;
    color: #82BCE4;
}
.share{
    margin-left: 70%;
    margin-right: 5%;
}
.mainTitle{
    margin-top: 20px;
}
.post_description_box{
 background-color: #CCD3FF;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.post_description{
    color: #7C75FF;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
}
.profile_pic{
    width: 80px;
    height: 80px;
}
.help_img{
    width: 100%;
    height: 300px;;

}

.shareImg{
    height: 25px;
    width: 25px; 
}
.mapbox{
     width: 100%;
     height: 650px;
     background-color: salmon;
     margin-top: 10px;
     border-radius: 10px;
}
.help_btn{
    border-radius: 10px;
    width: 20%;
 
}
.share_btn{
    margin-right: 20px;
  background-color: transparent;
  border: none;
}
.buttons{
    margin-top: 3%;
    margin-bottom: 50px;
}

@media screen and(max-width:676px){
    .mainTitle{
        text-align: start;
    }
}
@media screen and (max-width:575px){
    .share{
        margin-left: 50%;
    }
    .mainTitle{
        text-align: start;
        font-size: 2rem;
    }
}

@media screen and (min-width:575px){
    
    .help_img{
        height: 400px;
    }
    .mainTitle{
        font-size: 2rem;
        color: black;
        text-align: center;
        margin-left: 5%;
    }
    .detail_post{
        margin-left: 5%;
        margin-right: 5%;
    }
  
  
    
}
@media screen and (min-width:830px){
    
    .help_img{
        height: 500px;
    }
    .detail_post{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (min-width:1150px){
    
    .help_img{
        height: 600px;
    }
}
@media screen and (min-width:1350px){
    
    .help_img{
        height: 700px;
    }
}
@media screen and (min-width:767px){
    .username{
        margin-left: 15px;
    }
}